<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
  </head>
  <body>
    <div>
      <h1>Log In</h1>
      <form action="/log-in" method="POST">
        <div>
          <label for="username">Email:</label>
          <input name="username" id="username" type="email" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input name="password" id="password" type="password" required />
        </div>
        <button type="submit">Log In</button>
      </form>

      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <hr />
      <h4>Errors:</h4>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
